@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 400;
  src: url(../fonts/Inter/Inter-Regular.woff2) format('woff2'),
  url(../fonts/Inter/Inter-Regular.ttf) format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+005B-0060, U+007B-007E, U+26;
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 500;
  src: url(../fonts/Inter/Inter-Medium.woff2) format('woff2'),
  url(../fonts/Inter/Inter-Medium.ttf) format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+005B-0060, U+007B-007E, U+26;
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 600;
  src: url(../fonts/Inter/Inter-SemiBold.woff2) format('woff2'),
  url(../fonts/Inter/Inter-SemiBold.ttf) format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+005B-0060, U+007B-007E, U+26;
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 700;
  src: url(../fonts/Inter/Inter-Bold.woff2) format('woff2'),
  url(../fonts/Inter/Inter-Bold.ttf) format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+005B-0060, U+007B-007E, U+26;
}