@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url(../fonts/Pretendard/Pretendard-Regular.eot);
  src: url(../fonts/Pretendard/Pretendard-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Pretendard/Pretendard-Regular.woff2) format('woff2'),
  url(../fonts/Pretendard/Pretendard-Regular.woff) format('woff'),
  url(../fonts/Pretendard/Pretendard-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url(../fonts/Pretendard/Pretendard-Medium.eot);
  src: url(../fonts/Pretendard/Pretendard-Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Pretendard/Pretendard-Medium.woff2) format('woff2'),
  url(../fonts/Pretendard/Pretendard-Medium.woff) format('woff'),
  url(../fonts/Pretendard/Pretendard-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url(../fonts/Pretendard/Pretendard-SemiBold.eot);
  src: url(../fonts/Pretendard/Pretendard-SemiBold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Pretendard/Pretendard-SemiBold.woff2) format('woff2'),
  url(../fonts/Pretendard/Pretendard-SemiBold.woff) format('woff'),
  url(../fonts/Pretendard/Pretendard-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url(../fonts/Pretendard/Pretendard-Bold.eot);
  src: url(../fonts/Pretendard/Pretendard-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Pretendard/Pretendard-Bold.woff2) format('woff2'),
  url(../fonts/Pretendard/Pretendard-Bold.woff) format('woff'),
  url(../fonts/Pretendard/Pretendard-Bold.ttf) format('truetype');
}