@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 300;
  src: url(../fonts/GmarketSans/GmarketSansTTFLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 500;
  src: url(../fonts/GmarketSans/GmarketSansTTFMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 700;
  src: url(../fonts/GmarketSans/GmarketSansTTFBold.ttf) format('truetype');
}