@font-face {
      font-family: "Pretendard";
      src: url("Pretendard-Regular.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "Pretendard";
      src: url("Pretendard-Bold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "Pretendard";
      src: url("Pretendard-SemiBold.woff2") format("woff2");
      font-weight: 800;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "DM Mono Portfolio";
      src: url("DM+Mono-regular.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }